@model CinemaPortal.Web.Models.Movie

@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<h1>Welcome!</h1>
</br>

<p><a class="btn btn-success" asp-action="AddOrEdit">Add Movie</a></p>

@if (TempData["AlertMessage"] != null)
{
    <div id="notify" class="alert alert-success" style="display:block">
        <strong>Success!</strong> @TempData["AlertMessage"]
    </div>
    <script>
        setTimeout(() => notify.style.display = "none", 5000)
    </script>
}

<table class="table" id="movieDataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Movie</th>
            <th>Production Date</th>
            <th>Raiting</th>            
            <th></th>
        </tr>
    </thead>    
</table>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>    

    <script>
        var Popup, dataTable;
        $(document).ready(function() {            
            dataTable = $("#movieDataTable").DataTable({  
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Movies/GetData",
                    "type": "POST",
                    "datatype": "json",                    
                }, 
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id" },
                    { "data": "name", "name": "Name" },
                    { "data": "productionDate", "name": "ProductionDate", "width":"150px" },
                    { "data": "raiting", "name": "Raiting", "width":"150px"  },               
                    { "data": "id", "render" : function (data) {                             
                        return "<a class='btn btn-primary btn-sm' onclick=location.href='@(Url.Action("AddOrEdit", "Movies"))/" +data+ "'><i class='fa fa-pencil'></i>Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }
                ],
            })            
        });                
        
        function Delete(id) {
            if(confirm('Are You Sure to Delete this Movie?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Movies")/' + id,
                    success: function (data) {
                        if (data.success)
                        {                            
                            dataTable.ajax.reload();
                        }
                    }
                });
            }
        }   

    </script>
}
